.card .title,
.servbx,
.stepbg .column .title {
    font-family: "Bebas Neue", sans-serif
}

.productshow .itemlist .prodname a,
.productshow .itemlist .prodname h3,
.productshow .itemlist .prodname h3 a {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0
}

.about-banner {
    width: 100%;
    background: url(../images/bgtopn.webp) center center/cover no-repeat;
    padding: 107px 0 100px;
    text-align: center;
    position: relative;
    min-height: 400px
}

.connect,
.our-clients,
.stepbg {
    padding: 5rem 0
}

.about-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85)
}

.about-banner::after,
.stepbg::after {
    content: "";
    display: block;
    clear: both
}

.about-banner .container {
    position: relative;
    z-index: 1
}

.about-banner .main-title {
    font-size: 50px
}

.about-banner .main-title .city-name {
    color: #e2bd3c;
    display: block;
    font-size: 50px;
    font-weight: 700
}

.about-banner .get-quote {
    background: 0 0;
    border: 3px solid #fff;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 40px
}

.about-banner .get-quote:hover {
    background: #e2bd3c;
    text-decoration: none
}

.productshow .itemlist {
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center
}

.productshow .itemlist .prodname {
    display: flex;
    width: 100%;
    flex-wrap: wrap
}

.productshow .itemlist .prodname h3 {
    padding: 10px 15px;
    text-align: left;
    background: 0 0;
    color: #000
}

.productshow .itemlist .prodname h3 a {
    padding: 0;
    text-align: left;
    background: 0 0;
    color: #000
}

.productshow .itemlist .prodname a {
    padding: 10px 15px;
    text-align: right;
    color: #019aac;
    text-decoration: none;
    border-left: 1px solid #ededed;
    text-transform: uppercase
}

.booth-size,
.video-tabs {
    padding: 5rem 0;
    background: #fff
}

.booth-size [class*=col-],
.servcstandrd [class=col-],
.stepbg [class*=col-] {
    margin: 1rem 0
}

.booth-size .swiper,
.booth-size .swiper-pagination2 {
    padding-top: 2rem
}

.booth-size .booth {
    background: #fafeff;
    border: 1px solid #dddddd4d;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center
}

.booth-size .booth .head {
    text-align: center;
    color: #fff;
    background: #efab1d;
    width: 100%;
    display: block;
    padding: 10px;
    border-top: 1px solid #ddd
}

.booth-size .swiper-pagination2 .swiper-pagination-bullet {
    background: #ddd;
    opacity: .8
}

.booth-size .swiper-pagination2 .swiper-pagination-bullet-active,
.our-clients .swiper-pagination .swiper-pagination-bullet-active {
    background: #ca1f26;
    width: 20px;
    height: 10px;
    border-radius: 5px
}

.stepbg {
    display: block;
    width: 100%;
    margin: 0;
    background: linear-gradient(0deg, #000000bb, #000000bb) 0 0/cover, url(../images/bgnew.webp) center/cover no-repeat;
    position: relative
}

.img-box,
.img-box img {
    width: 100px;
    text-align: center
}

.stepbg .column {
    display: block;
    width: 100%;
    padding: 80px 15px;
    box-sizing: border-box;
    border: 1px solid #fff;
    position: relative;
    height: 100%;
    text-align: center;
    border-radius: 6px
}

.stepbg .column .title {
    display: block;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 1rem
}

.stepbg .column p {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #c9c8c8
}

.starting-steps {
    background: #f7f7f7
}

.starting-steps .content {
    padding: 5rem;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

.starting-steps .content p {
    display: block;
    margin-bottom: 1rem
}

.starting-steps .img-fluid {
    position: relative;
    height: 100%;
    object-fit: cover
}

.connect {
    background: linear-gradient(0deg, #000000bb, #000000bb) 0 0/cover, url(../images/bgnew.webp) center/cover no-repeat
}

.our-clients .swiper {
    margin-top: 2rem;
    padding-bottom: 3rem
}

.our-clients .swiper-pagination .swiper-pagination-bullet {
    background: #000;
    opacity: .8
}

.our-clients .btn-custom {
    padding: .8rem 3rem;
    border-radius: 10px;
    font-size: 18px
}

.servcstandrd {
    display: block;
    position: relative;
    text-align: center;
    padding: 3rem 0;
    background: #ca1f26
}

.servbx {
    display: block;
    border-right: 1px solid rgba(255, 255, 255, .5);
    padding: 15px
}

.servbx .icon {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 auto 1rem
}

.servbx .icon img {
    width: 100%;
    height: auto
}

.servbx p {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #fff
}

.faqbg {
    background: #f4f4f4
}

.faqbg .content {
    padding: 5rem
}

.faqbg .accordion-header,
.faqbg .content .accordion .accordion-item {
    border: none;
    margin-bottom: 5px
}

.faqbg .content .accordion .accordion-button {
    background: #efab1d;
    color: #fff;
    border-bottom: 1px solid #ddd;
    padding: .5rem 1rem;
    box-shadow: none;
    width: 100%;
    text-align: left;
    border: none;
    position: relative
}

.faqbg .content .accordion .accordion-button span {
    font-size: 25px;
    font-weight: 700;
    padding-right: 15px;
    color: #fff;
    border-right: 1px solid #dddddd6b;
    margin-right: 10px
}

.faqbg .content .accordion .accordion-body {
    background: #fff;
    color: #414141;
    font-size: 17px;
    padding: 1rem
}

.faqbg .accordion-button:not(.collapsed)::after {
    transform: rotate(-90deg);
    display: none
}

.faqbg .accordion-button::after {
    content: ">";
    position: absolute;
    right: 1rem;
    font-size: 20px;
    transform: rotate(90deg);
    font-family: monospace;
    display: none
}

.card {
    padding: 30px 10px;
    background-color: #03a9f40d;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center
}

.img-box {
    display: inline-block;
    margin: 0 auto 1rem
}

.event_date,
.event_space {
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
    display: flex;
    gap: 10px;
    font-size: .9rem
}

.img-box img {
    height: 100px;
    object-fit: contain;
    margin: auto
}

.card .title {
    display: block;
    font-size: 1.6rem;
    padding: 12px;
    text-align: center;
    min-height: 75px;
    color: #000;
    letter-spacing: .5px
}

.event_space {
    color: #000;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem
}

.event_date {
    color: #b50728;
    align-items: center;
    justify-content: center
}

@media screen and (max-width:767px) {

    .faqbg .content,
    .starting-steps .content {
        padding: 2rem .4rem
    }

    .main-title {
        font-size: 34px
    }

    .ratio iframe {
        width: 100%
    }
}