@charset "UTF-8";
*,
aside,
body,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
li,
main,
nav,
ol,
p,
span,
strong,
ul {
    padding: 0;
    margin: 0;
}
*,
.PopupMain,
::after,
::before {
    box-sizing: border-box;
}
.PopupMain .formtitle,
.main-title {
  
}
body,
html {
    font-display: optional;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    background: #fff;
}
li,
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
a,
a:hover {
    text-decoration: none;
    color: #1553fc;
}
.clear {
    clear: both;
}
.main-title {
    font-size: 36px;
    color: #000;
    width: 100%;
        font-weight: 600;
    
    margin-bottom: 1rem;
}
.main-disc {
    font-size: 17px;
    margin-bottom: 1rem;
}
.btn-custom {
    background: #ca1f26;
    color: #fff;
    border: 1px solid #ca1f26;
    border-radius: 10px;
}
.btn-custom:hover {
    background: #fff;
    color: #ca1f26;
    border: 1px solid #ca1f26;
}
.nav-topbar {
    width: 100%;
    background: #414141;
    padding: 5px 0;
    position: relative;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navtop-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8px;
    overflow: hidden;
}
.navtop-details .transformnone {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
}
.navtop-details .call2dha,
.navtop-details .calldha {
    background: #009aac;
    display: block;
    padding: 7px 30px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.navtop-details .call2dha {
    background: #e2bd3c;
    color: #000;
    animation: 1s infinite glow;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 0 2px #fff, 0 0 0 -2px #fff;
    }
    50% {
        box-shadow: 0 0 0 4px #ffffff00, 0 0 0 -4px #fff0;
    }
    100% {
        box-shadow: 0 0 0 6px #ffffff00, 0 0 0 -6px #fff0;
    }
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 17px;
    padding: 8px 15px;
    color: #000;
    background: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .nav-item .nav-link:hover {
    background: #009aac;
    color: #fff;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    font-size: 16px;
}
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 7px 4px;
    }
}
@media screen and (max-width: 991px) {
    .navtop-details {
        gap: 10px;
        width: 100%;
    }
    #google_translate_element,
    .navtop-details .transformnone {
        display: none;
    }
}
.modal-body {
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 0;
    border-radius: 5px;
    position: relative;
}
.modal-body .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    opacity: 1;
}
.modal-body .model-head {
    background: linear-gradient(0deg, #000, #000000c9) 0 0 / cover, url(../images/ds.png) center/cover no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.model-head.model-head-bg {
    background: url(../images/connect.webp) 0 0 / cover no-repeat !important;
    height: 100%;
}
.modal-body form {
    padding: 30px;
    display: block;
    position: relative;
}
.modal-body form input,
.modal-body form select {
    box-shadow: none !important;
}
.modal-body form .btn-submit {
    width: 100%;
    background: #33adbd;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    line-height: 45px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 3px;
    margin-top: 1.5rem;
}
.modal-body .model-left {
    height: 100%;
    overflow: hidden;
}
.modal-body .model-left img {
    height: 100%;
    object-fit: cover;
}
.footer {
    background: #000;
    color: #ddd;
    padding-top: 3.7rem;
    margin: 0;
    overflow: hidden;
}
.footer .center-part {
    background: #1c1c28;
    padding: 2rem 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}
.footer .fhead {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}
.footer .fhead span {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.footer p a{
    display:block;
    color:#fff;
    margin-bottom:1rem;
}
.footer .list {
    margin-bottom: 2rem;
}
.footer .list li a {
    color: #eee;
    padding: 10px 3px;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    font-size: 17px;
}
.footer .list li {
    position: relative;
}
.footer .list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #eeeeee40;
    transition: 0.3s;
}
.footer .list li:hover::before {
    background: #eee;
}
.footer .list li:hover a {
    color: #fff;
}
.footer form {
    margin-top: 1rem;
}
.footer form input:focus {
    box-shadow: none;
    border: 1px solid #ca1f26;
}
.footer form input::placeholder {
    font-size: 15px;
}
.footer form .submit {
    border: 0;
    border-radius: 0 0.25rem 0.25em 0;
    padding: 0 10px;
    background: #ca1f26;
    color: #fff;
}
.footer .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.footer .social li a {
    color: #eee;
    display: flex;
    text-transform: capitalize;
    position: relative;
    border: 1px solid #73797d;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 17px;
    transition: 0.2s;
}
.footer .social li:hover a {
    border: 1px solid #fff0;
    color: #fff;
}
.footer .social li a span {
    display: none;
}
.footer .social .facebook:hover a {
    background: #3b5998;
}
.footer .social .twitter:hover a {
    background: #000;
}
.footer .social .linkedin:hover a {
    background: #007bb6;
}
.footer .social .pinterest:hover a {
    background: #e60023;
}
.footer .social .youtube:hover a {
    background: #b00;
}
.footer .social .googleplus:hover a {
    background: #dd4b39;
}
.copyright {
    color: #ddd;
    text-align: center;
    padding: 1rem 0;
}
.copyright a{
    display:inline-block !important;
}
.popup-bg {
    background: linear-gradient(0deg, #f0e1c0, #f0e1c0), url(../../assets/img/d.html) center no-repeat;
}
.form-sec {
    padding: 30px 0 70px;
}
.PopupMain {
    display: block;
    width: 100%;
    position: relative;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 0.1);
    border-radius: 7px;
    margin: 0 auto;
    max-width: 900px;
}
.modal.show .modal-dialog {
    transform: translate(0, 20%);
}
.PopupMain .row {
    margin-left: -15px;
    margin-right: -15px;
}
.PopupMain .formtitle {
    display: block;
    font-size: 1.6rem;
    line-height: 1;
    color: #000;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.PopupMain .formtitle span {
    color: #009aac;
}
.PopupMain p {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #414141;
    margin-bottom: 0;
}
.PopupMain input[type="text"] {
    display: block;
    line-height: 52px;
    height: 48px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    color: #3d3d3d;
    margin: 6px 0;
    background: #fff;
    text-shadow: none;
    border: 1px solid #ddd;
    font-size: 16px;
}
.PopupMain input[type="file"],
.PopupMain select {
    line-height: 52px;
    padding: 0 15px;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    text-shadow: none;
}
.PopupMain input[type="file"] {
    font-size: 1rem;
    height: 52px;
    border-radius: 3px;
    color: #3d3d3d;
    border: 1px solid #ddd;
}
.PopupMain .custom-drop-file {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 52px;
    margin: 6px 0;
}
.PopupMain .custom-drop-file input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    top: 0;
    left: 0;
}
.PopupMain .custom-drop-file p {
    margin: 0;
    color: #414141;
    font-size: 0.65rem;
    position: relative;
}
.custom-drop-file p span {
    display: inline-block;
    background: #414141;
    padding: 9px 10px;
    color: #fff;
    font-size: 11px;
}
.intl-tel-input,
.iti {
    width: 100%;
}
.PopupMain select {
    height: 47px;
    border-radius: 3px;
    color: #979797;
    border: 1px solid #ddd;
    font-size: 15px;
}
.PopupMain textarea {
    display: block;
    font-size: 1rem;
    line-height: 24px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: #3d3d3d;
    margin: 0.5rem 0 1rem;
    background: #fff;
    text-shadow: none;
    border: 1px solid #ddd;
    height: 130px;
}
.PopupMain input[type="submit"] {
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
    line-height: 56px;
    box-sizing: border-box;
    padding: 0 24px;
    border-radius: 7px;
    color: #fff;
    border: none;
    text-shadow: none;
    background: #ca1f26;
}
.teellus {
    border-radius: 10px;
    font-size: 27px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}
.col-lg-12.col-md-12.mt-tb {
    margin: 6px 0;
}
#mobile_code1 {
    color: #6c6767;
    font-size: 16px;
}
.error {
    color: red;
    font-size: 0.85rem;
}
@media screen and (max-width: 767px) {
    .col-md-5.p-0.mobile-view,
    .footer .list li a::before {
        display: none;
    }
    .modal-body form {
        padding: 8px;
    }
    .PopupMain {
        box-shadow: none;
    }
    .modal.show .modal-dialog {
        transform: translate(0, 14px);
    }
    .PopupMain input[type="submit"] {
        font-size: 16px;
        padding: 0 14px;
    }
    .footer,
    .footer .fhead,
    .footer .list li {
        text-align: center;
    }
    .footer .social {
        justify-content: center;
    }
    .dropdown-toggle::after{
        display:none !important;
    }
}
