.about-banner {
    width: 100%;
    background: url(../images/modular-stand.webp) center/cover no-repeat;
    padding: 130px 0 120px;
    text-align: center;
    position: relative;
}
.about-details,
.mfg-unit,
.our-clients {
    padding: 5rem 0 5rem;
}
.our-clients .swiper-pagination .swiper-pagination-bullet-active {
    background: #ca1f26;
    width: 20px;
    height: 10px;
    border-radius: 5px;
}
.card {
    padding: 30px 10px;
    background-color: #03a9f40d;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.img-box {
    display: inline-block;
    width: 100px;
    margin: 0 auto 1rem;
    text-align: center;
}
.event_date,
.event_space {
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
}
.img-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}
.card .title {
    display: block;
    font-size: 1.6rem;
    padding: 12px;
    text-align: center;
    min-height: 75px;
    color: #000;
    letter-spacing: 0.5px;
    font-family: "Bebas Neue", sans-serif;
}

.event_space {
    color: #000;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.event_date {
    color: #b50728;
    align-items: center;
    justify-content: center;
}
.about-banner .main-title {
    font-size: 50px;
}

.main-title{ margin-bottom:0px !important;padding: 0px 116px; text-align: center;}

.sub-title {
    font-size:26px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0px 14px;
}


.about-banner p{
    color: #fff;
    margin-bottom: 1rem; padding:0px 120px;
}
.about-banner .get-quote {
    background: 0 0;
    border: 3px solid #fff;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 40px;
}
.about-banner .get-quote:hover {
    background: #e2bd3c;
    text-decoration: none;
}
.about-details .all-points {
    background: #009aac;
    padding: 0;
    margin-top: 3rem;
}
.about-details .all-points .left-side {
    padding: 0.5rem;
}
.about-details .all-points .left-side .points {
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 2;
    background: #006e7a40;
    margin: 5px 5px 5%;
    height: 95%;
    border: 1px dashed #ffffff59;
}
.about-details .all-points .left-side .points img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.about-details .all-points .left-side .points .num {
    font-size: 30px;
    font-weight: 600;
    display: block;
}
.about-details .all-points .right-side img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.mfg-unit {
    background: #000;
}
.mfg-unit img {
    width: 100%;
    float: left;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}
.mfg-unit .btn-custom {
    padding: 0.8rem 3rem;
    border-radius: 10px;
    font-size: 18px;
}
.our-clients .swiper {
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.our-clients p{
    display: block;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}
.our-clients .swiper-pagination .swiper-pagination-bullet {
    background: #000;
    opacity: 0.8;
}
.our-clients .swiper-pagination .swiper-pagination-bullet-active {
    background: #ca1f26;
    width: 20px;
    height: 10px;
    border-radius: 5px;
}

.booth-size{
    padding: 5rem 0;
    background: #000;
}
.booth-size .main-title,
.booth-size .main-disc{
    color:#fff;
}
.booth-size [class*='col-']{
    margin:1rem 0;
}
.booth-size .swiper,
.booth-size .swiper-pagination2 {
    padding-top: 2rem;
}
.booth-size .booth {
    background: #fafeff;
    border: 1px solid #dddddd4d;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
.booth-size .booth .head {
    text-align: center;
    color: #fff;
    background: #ca1f26;
    width: 100%;
    display: block;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.boothcount{
    display:block;
    width:100%;
    height: calc(100% - 50px);
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.9);
    text-align:center;
    color:#fff;
    display:none;
}
.boothcount .countsbg{
    display:block;
    padding:0 1.5rem;
    top:50%;
    position:relative;
    transform:translate(0,-50%);
}
.boothcount .countsbg .counttitle{
    display:block;
    font-size:3rem;
    font-weight:bold;
}
.booth-size .booth:hover .boothcount{
    display:block;
    -webkit-animation: show 2s forwards; /* Safari 4+ */
  -moz-animation:    show 2s forwards; /* Fx 5+ */
  -o-animation:      show 2s forwards; /* Opera 12+ */
  animation:         show 2s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes show {
  0%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes show {
  0%   { opacity: 0; }
   50%   { opacity: 1; }
  100% { opacity: 1; }
}
@-o-keyframes show {
  0%   { opacity: 0; }
   50%   { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes show {
  0%   { opacity: 0; }
   50%   { opacity: 1; }
  100% { opacity: 1; }
}
.content-sec,
.content-sec-bg {
    padding: 5rem 0;
}
.content-sec p,
.content-sec-bg p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 1rem;
}
.content-sec-bg {
    background: #f5f5f5;
}
.content-sec h2, .content-sec h3, .content-sec h4 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    color: #000;
    width: 100%;
    text-transform: uppercase;
    margin: 1rem 0;
    text-align: left;
}
.starting-steps {
    background: #f7f7f7; padding: 40px 0px 50px;
}
.starting-steps .content {
    padding: 40px 40px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.starting-steps .content .list-sec {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    width: 100%;
}

.starting-steps .content .list-sec ul,
.starting-steps .content .list-sec ol{ list-style:none; padding:0px; margin:30px 0px; display:flex; justify-content:space-between; flex-wrap:wrap; }
.starting-steps .content .list-sec ul li {
    flex: 0 0 31%;
    border: 1px solid #9b8e8e;
    position: relative;
    font-size: 15px;
    text-align: left;
    color: #000;
    line-height: 27px;
    font-weight: 400;
    padding: 12px 0px 5px 30px;
}
.starting-steps .content .list-sec ol li {
    flex: 0 0 100%;
    border: 1px solid #9b8e8e;
    position: relative;
    font-size: 15px;
    text-align: left;
    color: #000;
    line-height: 27px;
    font-weight: 400;
    padding: 12px 0px 5px 30px;
}
.starting-steps .content .list-sec ul li a,
.starting-steps .content .list-sec ol li a{ color:#000;}

.starting-steps .content .list-sec ul li strong,
.starting-steps .content .list-sec ol li strong{  color:#dd1010;}
.starting-steps .content .list-sec ul li::before,
.starting-steps .content .list-sec ol li::before{
    position: absolute;
    left: 9px;
    top: 19px;
    /* background: #000; */
    font: 14px/1 FontAwesome;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "\f00c";
}
.list-sec.three-step ul{  display:flex; }
.list-sec.three-step ul li{ flex: 0 0 31% !important; }
.starting-steps .content p {
    display: block;
    margin-bottom:20px;
    line-height:1.6;
    text-align:justify;
}


.main-subtitle-heading {
    font-size:22px;
    color: #000;
    width: 100%;
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
    font-weight: 500;
    margin:25px 0px;
}

.main-subtitle {
    font-size:18px;
    color: #000;
    width: 100%;
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
    font-weight: 500;
    margin:15px 0px;
}


.starting-steps .img-fluid {
    position: relative;
    height: 100%;
    object-fit: cover;
}
.starting-steps ol li,
.starting-steps ul li {
    display: block;
    padding-left: 30px;
    color: #414141;
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    text-align: justify;
}
/*.starting-steps ol li::after,
.starting-steps ul li::after {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: 0 0;
    top: 5px;
    left: 0;
    border: 2px solid #c22c2b;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    content: "";
    transform: rotate(145deg);
}*/
.ourexprncebg{
    display: block;
    width: 100%;
    margin: 0;
    padding: 60px 0 10px;
    position: relative;
}
.ourexprncebg::after{
    content: '';
    display: block;
    clear: both;
}
.ourexprncebg p{
    display: block;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 1rem;
}
.ourexprncebg table{
    width: 100%;
    margin-top: 2rem;
}
.ourexprncebg tr td{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000;
    background: #f9f9f9;
    border:1px solid #ddd;
    text-align: center;
    font-weight: 700;
    padding: 10px 15px;
}

.seosection{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px 0 0px;
    position: relative;
}
.seosection:::after{
    content: '';
    display: block;
    clear: both;
}
.seosection p{
    display: block;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 1rem;
}


.seosection .map-sec{ width:100%; margin:50px 0px 70px; }



@media (max-width: 767px) {
    .about-banner {
        background: #1096a6;
        padding: 40px 0;
    }
    .about-banner .main-title,
    .main-title {
        font-size: 30px;
        padding: 0px 0px;
    }
    .about-banner p{
        padding:0 0;
    }
    .about-banner .get-quote {
        padding: 3px 12px;
        font-size: 18px;
        color: #fff;
        border-radius: 40px;
        border: 2px solid #fff;
    }
    .about-details,
    .mfg-unit,
    .our-clients {
        padding: 2rem 0;
    }
    .our-clients .swiper {
        padding-bottom: 0;
    }
    .starting-steps .content{
        padding:40px 0;
    }
    .starting-steps .content .list-sec{
        padding:0;
    }
    .list-sec.three-step ul li{
        flex: 0 0 100% !important;
    }
    .img-fluid{
        width:100%;
    }
    
}
.form3d-design {
    display: block;
    width:100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    background: #fff;
/*    border: 1px solid #efefef;*/
/*    box-shadow: 0 0 30px rgba(0, 0, 0, .1);*/
    border-radius: 7px;
    margin: 2rem 0;
    margin: 15px auto;
}








.form3d-design .row {
    margin-left: -15px;
    margin-right: -15px;
}

.form3d-design [class*='col-'] {
    padding-left: -15px;
    padding-right: -15px;
}

.form3d-design .formtitle {
    display: block;
    font-size: 1.6rem;
    line-height: 1.0;
    color: #000;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.form3d-design .formtitle span {
    color: #009aac
}

.form3d-design p {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #414141;
    margin-bottom: 0rem;
}

.form3d-design input[type='text'] {
    display: block;
    font-size: 1rem;
    line-height: 60px;
    height:60px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    color: #3d3d3d;
    margin: 1rem 0;
    background: #F4F4F4;
    text-shadow: none;
    border: 1px solid #ededed;
}

.form3d-design select {
    display: block;
    font-size: 1rem;
    line-height: 60px;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    color: #a29b9b;
    margin: 0.5rem 0;
    background: #F4F4F4;
    text-shadow: none;
    border: 1px solid #ededed;
}

.form3d-design textarea {
    display: block;
    font-size: 1rem;
    line-height: 24px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: #a29b9b;
    margin: 0.5rem 0 1rem;
    background: #F4F4F4;
    text-shadow: none;
    border: 1px solid #ededed; height: 160px;
}

.form3d-design input[type='submit'] {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    line-height: 58px;
    box-sizing: border-box;
    padding: 0 35px;
    border-radius: 0px;
    color: #fff;
    border: none;
    text-shadow: none;
    background: #009aac;
    border-radius: 7px;
    float: right;
}



.form3d-design .custom-drop-file {
    position: relative;
    padding: 9px 10px;
    border: 1px solid #ededed;
    cursor: pointer;
    height: 60px;
    margin: 1rem 0;
    background: #F4F4F4;
}


.form3d-design .custom-drop-file input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    top: 0;
    left: 0;
    background: #F4F4F4;
}


.form3d-design .custom-drop-file p {
    margin: 0;
    color: #414141;
    font-size: 0.65rem;
    position: relative;
    text-align: left;
    line-height: 1.8;
    background: #F4F4F4;
}


.form3d-design p span {
    display: inline-block;
    background: #3298AB;
    padding: 9px 10px;
    color: #F9FAFC;
    font-size: 11px;

}


.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
    margin-top: 10px;
}
.nrecntwork{
    display:block;
    width:100%;
    position:relative;
}
.nrecntwork .figure{
    display:block;
    width:100%;
    border-radius:10px;
}
.nrecntwork .figure img{
    display:block;
    width:100%;
    height:auto;
    border-radius:10px;
}
.nrecntwork .swiper {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.nrecntwork.swiper-pagination .swiper-pagination-bullet {
    background: #000;
    opacity: 0.8;
}
.nrecntwork .swiper-pagination .swiper-pagination-bullet-active {
    background: #ca1f26;
    width: 20px;
    height: 10px;
    border-radius: 5px;
}
.nrecntwork .swiper-pagination .swiper-pagination-bullet-active {
    background: #ca1f26;
    width: 20px;
    height: 10px;
    border-radius: 5px;
}
.colrred{
    color: #ca1f26;
    margin:1rem 0 !important;
}



.about-details .column {
    display: block;
    width: 100%;
    padding: 80px 15px;
    box-sizing: border-box;
    border: 1px solid #212529;
    position: relative;
    height: 100%;
    text-align: center;
    border-radius: 6px;
}

.about-details .column .title {
    display: block;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #212529;
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.about-details .column p {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #212529;
}

.btn-custom {
    background: #ca1f26;
    color: #fff;
    border: 1px solid #ca1f26;
    border-radius: 10px;
}



.booth-sizebg [class*="col-"] {
    margin: 1rem 0;
}

 .booth {
    background: #fafeff;
    border: 1px solid #dddddd4d;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.booth .head {
    text-align: center;
    color: #fff;
    background: #ca1f26;
    width: 97.2%;
    /* display: block; */
    padding: 20px;
    border-top: 1px solid #ddd;
    margin: 0px 5px;
}

.counttitle {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

@media (max-width:767px) {
    .form3d-design{ width:100%; }
    .form3d-design{ margin:30px 0px; }
    .form3d-design input[type="submit"] {
        display: inline-block;
        margin: 7px 0;
        font-size: 16px;
    }
    .booth .head{
        width:100%;
        margin:0;
    }
}




