.about-banner {
    width: 100%;
    background: url(../images/bgtopn.webp) center center/cover no-repeat;
    padding: 107px 0 100px;
    text-align: center;
    position: relative
}

.about-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .85)
}

.about-banner::after,
.seocontentbg::after {
    content: "";
    display: block;
    clear: both
}

.about-banner .container {
    position: relative;
    z-index: 1
}

.about-banner .main-title {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 0
}

.about-banner p {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #ff0131
}

.about-banner .main-title .city-name {
    color: #e2bd3c;
    text-transform: uppercase;
    display: block;
    font-size: 50px;
    font-weight: 700
}

.about-banner .get-quote {
    background: 0 0;
    border: 3px solid #fff;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 40px
}

.about-banner .get-quote:hover {
    background: #e2bd3c;
    text-decoration: none
}

.event-main {
    padding: 1.5rem 0;
    background: #f5f5f5
}

.event-main .main-title {
    font-size: 30px;
    font-weight: 400 !important
}

.event-main .edition-content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: 15px;
    margin: 2rem 0
}

.event-main .edition-content .head {
    font-size: 18px;
    font-weight: 500;
    position: relative
}

.event-main .edition-content .head a {
    display: inline-block;
    font-size: 14px;
    background: #f5f5f5;
    color: #4c4c4c;
    padding: 4px 10px;
    border-radius: 12px
}

.event-main .left-part {
    display: block;
    position: relative
}

.event-main .left-part p,
.shrtdesc p:not(:last-child) {
    margin-bottom: 1rem
}

.event-main .right-part table {
    font-size: 16px
}

.event-main .right-part table td {
    padding: 5px
}

.event-main .right-part table tr td:first-child {
    font-weight: 500
}

.event-main .right-part .list {
    margin-top: 1rem
}

.event-main .right-part .list li {
    position: relative;
    margin-left: 1rem;
    padding: 5px 0
}

.event-main .right-part .list li::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    left: -16px;
    top: 15px;
    background: #efab1d;
    border-radius: 50%
}

.event-main .right-part p {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #ff0131;
    text-align: center
}

.center-banner {
    display: block;
    width: 100%;
    margin: 0;
    padding: 60px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: linear-gradient(45deg, #00000096, #00000096) 0 0 / cover, url(../images/tell-us-your-requirements.webp) center center/cover no-repeat
}

.center-banner .main-title {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.4
}

.center-banner .main-title span {
    display: block;
    color: #ff6564;
    font-size: 42px;
}

.center-banner .btn-custom {
    padding: .8rem 3rem;
    border-radius: 10px;
    font-size: 18px
}

@media screen and (max-width:767px) {
    .center-banner .main-title {
        font-size: 2rem
    }
}

.booth-size {
    padding: 5rem 0
}

.booth-size .swiper {
    margin-top: 2rem
}

.booth-size .booth {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd
}

.booth-size .booth .head {
    text-align: center;
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 10px;
    background: #efab1d
}

.booth-size .swiper-pagination2 .swiper-pagination-bullet {
    background: #000;
    opacity: .8
}

.booth-size .swiper-pagination2 .swiper-pagination-bullet-active {
    background: #efab1d;
    width: 20px;
    height: 10px;
    border-radius: 5px
}

.seocontentbg {
    display: block;
    width: 100%;
    margin: 0;
    padding: 60px 0;
    position: relative
}

.shrtdesc {
    display: block;
    width: 100%;
    position: relative
}

.shrtdesc p {
    display: block;
    font-size: 1rem;
    line-height: 1.8;
    color: #3d3d3d
}

.event-main .left-part ol li,
.event-main .left-part ul li {
    display: block;
    padding-left: 20px;
    color: #414141;
    position: relative;
    font-size: .95rem;
    line-height: 1.6;
    margin-bottom: .5rem;
    text-align: justify
}

.event-main .left-part ol li::after,
.event-main .left-part ul li::after {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: 0 0;
    top: 5px;
    left: 0;
    border: 2px solid #c22c2b;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: #fff0;
    content: "";
    transform: rotate(145deg)
}

.event-main .left-part h2,
.event-main .left-part h3 {
    font-size: 28px;
    font-weight: 600 !important;
    margin: 1rem 0
}

.Post-box-main ul li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin: 1rem 0;
    column-gap: 15px
}

.post-img {
    max-width: 100px;
    flex: 0 0 100px;
    border: 1px solid #ddd
}

.post-img img {
    width: 100%;
    height: auto
}

.caption {
    flex: 1
}

.Post-box-main ul li .caption .title {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    font-weight: 400;
    font-family: Inter, sans-serif
}

.Post-box-main ul li .post-readmore {
    display: block;
    overflow: hidden;
    text-align: right;
    margin: 15px
}

.Post-box-main ul li .post-readmore a {
    display: inline-block;
    padding: 3px 18px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
    color: #fff;
    background: #1f99a8;
    transition: 0.3s ease-in-out;
    font-family: Inter, sans-serif
}